<div class="artsistHeader">
    <h3>{{selectedArtist}}</h3>
</div>

<div class="setlists">
    <div class="singleSetlistWrapper" *ngFor="let concert of concerts.setlist" (click)=selectConcert(concert.id)>
        <div class="dateWrapper">
            <span class="month">{{splitDate(concert.eventDate) | date: "MMM"}}</span>
            <span class="day">{{splitDate(concert.eventDate) | date: "dd"}}</span>
            <span class="year">{{splitDate(concert.eventDate) | date: "yyyy"}}</span>
        </div>
        <div class="textWrapper">
            <span class="artistName">{{concert.artist.name}}</span>
            <span class="location">
                {{concert.venue.name}}
                {{concert.venue.city.name}}
                {{concert.venue.city.country.code}}</span>
            <span class="numberOfSongs">
                {{calculateNumberOfSongs(concert.sets)}}
                <span class="songDescriptor">songs</span>
            </span>
        </div>
    </div>

</div>