.row {
    display: flex;
    width: 100%;
}

.column-left {
    flex: 30%;
    height: 100vh;
    background-color: var(--bg2);
}

.column-right {
    flex: 70%;
    height: 100vh;
    background-color: var(--bg1);
}
