.row {
    display: flex;
    width: 100%;
}

.column-left {
    flex: 25%;
    height: 100vh;
    background-color: var(--bg2);
}

.column-right {
    flex: 75%;
    height: 100vh;
    background-color: var(--mid);
}
