

.bodyWrapper {
    display: flex;
    flex-direction: row;
}

.songWrapper {
    display: flex;
    flex-direction: row;
}

.imageWrapper {
    display: flex;
    flex-direction: column;
}

.textWrapper {
    display: flex;
    flex-direction:  column;
}


.image-cropper {
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
  }

 

  img {
    height: auto;
    width: 40px;
    margin: auto;
  }