.wrapper {
    font-family: ibmplex-regular;
    padding: 40px;
    height: 100vh;
    
  }

.bodyWrapper {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    height: 85vh;
}



.leftColumn {
    width: 50%;
    display: block;
    overflow-y: scroll;
    height: 100%;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.leftColumn::-webkit-scrollbar {
    display: none;
}

.rightColumn {
    width: 50%;
}

.songWrapper {
    display: flex;
    flex-direction: row;
    margin-top: 7px;
    align-items: center;
    height: 40px;
}

.imageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 100%;
}

.playlistImage {
    width: 100%;
    max-width: 750px;
}

.textWrapper {
    display: flex;
    flex-direction:  column;
    margin-left: 20px;
    font-size: 0.8rem;
}

.nameWrapper {
    display: flex;
    flex-direction: row;
}

.trackName {
    font-family: ibmplex-semibold;
}

.songHeader {
    font-family: ibmplex-semibold;
    font-size: 1.3rem;
}

.durationHeader {
    font-family: ibmplex-semibold;
    font-size: 1.3rem;
}

.duration {
    font-family: ibmplex-semibold;
    font-size: 2rem;
}

.cover {
    font-family: ibmplex-semibold;
    font-size: 1.3rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

.titleHeader {
    font-family: ibmplex-semibold;
    margin: 20px;
    font-size: 1.3rem;
}

.playlistTitle {
    background-color: var(--mid);
    height: 50px;
    border-radius: 5px;
    line-height: 50px;
    padding-left: 20px;
    margin-top: 15px;
    font-size: 1rem;
}


.image-cropper {
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
  }

 

  img {
    height: auto;
    width: 40px;
    margin: auto;
  }

.publicToggle {
    width: 100%;
    display: flex;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}

.slideLabel {
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 3px;
}

.createButton {
    margin-top: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: var(--bg1);
    text-align: center;
    width: 100%;
    height: 40px;
    background-color: var(--high);
    border-radius: 5px;
}

:host ::ng-deep .mat-slide-toggle-bar {
    height: 27px;
    width: 46px;
    background-color: var(--high) ;
    border-radius: 36px;
}

:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: var(--high) ;
    height: 27px;
    width: 46px;
    border-radius: 36;
}

:host ::ng-deep  .mat-slide-toggle-thumb {
    background-color: var(--bg1) ;
    top: 6px;
    right: -4px;
    position: relative;
}

:host ::ng-deep  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: var(--bg1) ;
    top: 6px;
    right: -6px;
    position: relative;
}

:host ::ng-deep .mat-slide-toggle .mat-slide-toggle-ripple {
    height: 0px;
    width: 0px;
}


