@import '@angular/material/prebuilt-themes/deeppurple-amber.css';




html , body{
    margin: 0;
    padding: 0;

    
}

@font-face {
    font-family: ibmplex-bold;
    src: url(src/fonts/ibm-plex/IBMPlexSans-Bold.woff2);
    font-weight: bold;
}
@font-face {
    font-family: ibmplex-regular;
    src: url(src/fonts/ibm-plex/IBMPlexSans-Regular.woff2);
    font-weight: regular;
}
@font-face {
    font-family: ibmplex-semibold;
    src: url(src/fonts/ibm-plex/IBMPlexSans-SemiBold.woff2);
    font-weight: semibold;
}


body {
    --bg1: #ffffff;
    --bg2: #e6e6e6;
    --mid: #d9d9d9;
    --high: #262626;
}

body.dark {
    --bg1: #262626;
    --bg2: #1f1f1f;
    --mid: #8d8d8d;
    --high: #d9d9d9;
}