<section class="top-banner sticky-top" id="top-banner" (keyup)=Submit()>
    <div class="wrapper">
      <form>
        <div class="container" id="searchbar" >
          <div class="searchbar">
            <input type="text"   #input name="location" id="textinput" [(ngModel)]="artist" placeholder="Enter Artist Name" autocomplete="off" >
          </div>
          <!--
           <div class="searchbutton">
            <button (click)=Submit()  class="btn " id="submit">SUBMIT</button>
          </div> 
        -->
        </div>  
      </form>  
    </div>
</section>

<div class="search-results" *ngIf="artist">
  <div class="artistsHeader">ARTISTS</div>
  <div *ngFor="let result of searchResults">
    <div class="row" >
      <div class="image-cropper">
        <div class="column-left" *ngIf="result.images.length">
          <img class="artist-image" src={{result.images[2].url}}  />
        </div>
        <div class="placeholder" *ngIf="!result.images.lenght"></div>
      </div>
      <div class="column-right">{{result.name}}</div>
    </div>  
    </div>

</div>