<div class="wrapper">
	<mat-form-field class="example-full-width">
		<input
			matInput
			placeholder="Search Artist"
			[(ngModel)]="selectedArtist"
			[matAutocomplete]="auto"
			[formControl]="searchArtistsCtrl"
			placeholder="Artist Name"
		/>
		<button
			*ngIf="selectedArtist"
			matSuffix
			mat-icon-button
			aria-label="Clear"
			(click)="clearSelection()"
		>
			<mat-icon>close</mat-icon>
		</button>
		<mat-autocomplete
			class="single-autocomplete"
			#auto="matAutocomplete"
			(optionSelected)="onSelected()"
			[displayWith]="displayWith"
		>
			<mat-option *ngIf="isLoading" class="is-loading"
				>Loading...</mat-option
			>
			<ng-container *ngIf="!isLoading">
				<mat-option
					*ngFor="let artist of filteredArtists"
					[value]="artist"
				>
					<span class="row">
						<div class="image-cropper">
							<div
								class="column-left"
								*ngIf="artist.images.length"
							>
								<div class="image-wrapper"></div>
								<img
									class="artist-image"
									src="{{ artist.images[2].url }}"
								/>
							</div>
							<div
								class="placeholder"
								*ngIf="!artist.images.lenght"
							></div>
						</div>
						<div class="column-right">{{ artist.name }}</div>
					</span>
				</mat-option>
			</ng-container>
		</mat-autocomplete>
	</mat-form-field>

	<br />

	<ng-container *ngIf="errorMsg; else elseTemplate">
		{{ errorMsg }}
	</ng-container>
	<ng-template #elseTemplate>
		<div class="artist-details" *ngIf="selectedArtist?.name">
			<app-concerts></app-concerts>
		</div>
	</ng-template>
</div>
