<section class="top-banner sticky-top" id="top-banner" (keyup.enter)=Submit()>
    <div class="wrapper">
      <form>
        <div class="container" id="searchbar" >
          <div class="searchbar">
            <input type="text"   name="location" id="textinput" [(ngModel)]="artist" placeholder="Enter Artist Name" autocomplete="off" >
          </div>
          <!--
           <div class="searchbutton">
            <button (click)=Submit()  class="btn " id="submit">SUBMIT</button>
          </div> 
        -->
        </div>  
      </form>  
    </div>
</section>

<div class="search-results">
  <div class="artistsHeader">ARTISTS</div>
  <div *ngFor="let result of searchResults">
    <div class="artistname">{{result.name}}</div>
    <div class="artistpic"><img src={{result.images[0].url}}></div>
  </div>

</div>