




#searchbar::after{
    content: "";
    display: table;
    clear: both;
  }


  #top-banner {
    
    margin-top: 50px;
  }

  .example-full-width {
    width: 100%;
  }

  .wrapper {
    width: 100%;
    margin: auto;
    height: 500px;
  }

  

  .example-full-width {
    width: 80%;
    position: relative;
    left: 10%;
  }
  
  
  input {
    border: none;
    background: none;
    outline: none;
    font-size: 1rem;
    
  }

  mat-option {
    padding: 10px;
    height: 60px;
  }
  
  #top-banner form input::placeholder {
    color: var(--text-color); 
    font-family: ibmplex-regular;
  }

  .searchbar {
    caret-color: var(--text-color);
    color: var(--text-color);
    margin: auto;
    height: 30px;
    width: 70%;
    border-bottom: 3px solid;
  }
  #textinput {
    height: 100%;
    width: 100%;
    padding-left: 10px;
  }

  ::ng-deep .mat-autocomplete-panel {
    max-height: 400px;
  }
  

  .autocomplete-results {
    max-height: 400px !important;
    
  }


  #submit {
    color: var(--text-color);
  }

  #textinput {
    color: var(--text-color);
  }

  .searchbutton {
    float: left;
    margin-left: 10px;
    border: 1px solid;
    border-radius: 5px;
  }

  .search-results {
    width: 70%;
    margin: auto;
    background-color: var(--bg1);
    padding-bottom: 10px;
  }

  .image-cropper {
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
  }

 

  img {
    height: auto;
    width: 40px;
    margin: auto;
  }


  .single-autocomplete {
    height: 350px !important;
  }

  .row {
    display: flex;
    align-items: center;
    width: 100%;
    height: 48px;
  }

  .artistsHeader {
    font-family: ibmplex-bold;
    padding: 10px;
    font-size: 1.5rem;
  }

  .column-right {
    flex: 80%;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 20px;
    font-family: ibmplex-regular;
  }

  .column-left {
    flex: 20%;
    width: 20%;
  }

  .placeholder {
    background-color: var(--mid);
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }


  @media screen and (max-width: 770px) {
    .searchbar{
      width: 100%;
    }
    .searchbutton{
      margin-top: 10px;
      margin-left: 0px;
      margin-bottom: 10px;
    }
  }

  